<div id="instagram-stories-box"></div>
<div id="instagram-feed-box"></div>
{% schema %}
{
	"name": "Instagram Feed/Story",
	"settings": [],
	"presets": [
		{
			"name": "Instagram Feed/Story", "settings": {}
		}
	]
}
{% endschema %}